.wrapper {
    margin: 0 70px;
}

.inner {
    border-bottom-width: 1px ;
    border-style: solid;
    border-color: rgb(235, 235, 240);
    margin: 0 -70px;
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    padding-top: 16px;
    // -webkit-box-pack: justify;
    justify-content: space-between;
}