.wrapper {
    display: flex;
    background-color: #f5f5fa;

    .container {
        width: 100%;

        .header {
            font-size: 19px;
            line-height: 21px;
            font-weight: 300;
            margin: 20px 0px 15px;
        }

        .header_tab {
            cursor: pointer;
            background: rgb(255, 255, 255);
            width: 100%;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            position: sticky;
            top: 0px;
            z-index: 10;

            .style_tab {
                width: 16.6667%;
                padding: 12px 0px;
                text-align: center;
                color: rgb(128, 128, 137);
                border-bottom: none;
            }

            .style_tab_active {
                width: 16.6667%;
                padding: 12px 0px;
                text-align: center;
                color: rgb(13, 92, 182);
                border-bottom: 2px solid rgb(13, 92, 182);
            }
        }

        .header_search {
            width: 100%;
            position: relative;
            margin: 12px 0px;

            .search-icon {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                color: rgb(128, 128, 137);
            }

            input {
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
                    -webkit-box-shadow 0.15s ease-in-out;
                height: 36px;
                width: 100%;
                border-radius: 4px;
                padding: 10px 12px 10px 40px;
                line-height: 20px;
                outline: none;
                flex: 1 1 0%;
                border: 1px solid rgb(196, 196, 207);
            }

            .search_right {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: rgb(11, 116, 229);
                padding: 0px 6px 0px 16px;
                border-left: 2px solid rgb(221, 221, 227);
                cursor: pointer;
            }
        }

        
    }
}
