.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: #f0f2f5;
    min-height: 100vh;
    padding-top: 20px;

    .content-left {
        margin-top: 50px;

        .brand {
            text-transform: uppercase;
            font-size: 30px;
            color: #1877f2;
        }

        .detail {
            font-size: 20px;
        }
    }

    .content-right {
        .brand {
            text-transform: uppercase;
            font-size: 30px;
            color: #1877f2;
            text-align: center;
            font-weight: bold;
        }

        padding: 15px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 /10%);
        box-sizing: border-box;

        .password-group {
            position: relative;

            .eye-icon {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                font-size: 1.2rem;
                color: #888;
            }

            .eye-icon:hover {
                color: #333;
            }
        }

        hr {
            margin: 0px;
        }

        .link_register {
            display: block;
            text-align: center;
            font-size: 15px;
            color: #666;

            .btn_register {
                color: #007bff;
                text-decoration: none;
                margin-left: 5px;
            }
        }
    }
}
