.wrapper {
    margin: 0 7rem;
}

.inner {
    border-bottom-width: 0.1rem ;
    border-style: solid;
    border-color: rgb(235, 235, 240);
    margin: 0 -70px;
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    padding-top: 1.6rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
}