.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: #f0f2f5;
    min-height: 100vh;
    padding-top: 20px;

    .content-left {
        margin-top: 50px;

        .brand {
            text-transform: uppercase;
            font-size: 30px;
            color: #1877f2;
        }

        .detail {
            font-size: 20px;
        }
    }

    .content-right {
        padding: 15px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 /10%);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .brand {
            text-transform: uppercase;
            font-size: 30px;
            color: #1877f2;
            text-align: center;
            font-weight: bold;
        }

        .password-wrapper {
            position: relative;

            .eye-icon {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                font-size: 1.2rem;
                color: #888;
            }

            .eye-icon:hover {
                color: #333;
            }
        }

        .oauth_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: -5px;

            .oauth_separator {
                display: flex;
                align-items: center;
                width: 100%;

                .line {
                    background-color: #dbdbdb;
                    flex: 1;
                    height: 1px;
                    width: 100%;
                }

                span {
                    color: #ccc;
                    font-size: 0.75rem;
                    padding: 0 16px;
                    text-transform: uppercase;
                }
            }

            .oauth_method {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;

                .fb_method,
                .gg_method {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    width: 50%;
                    border: 1px solid rgba(0, 0, 0, 0.26);
                    border-radius: 5px;
                    height: 40px;
                    padding: 0 2px;
                    justify-content: center;
                    gap: 8px;

                    .icon {
                        width: 22px;
                        height: 22px;
                        color: #1777ef;
                    }

                    span {
                        color: rgba(0, 0, 0, .87);
                        font-size: 13px;
                        text-align: center;
                    }
                }

                .gg_method {

                    .icon {
                        color: #f5412d;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }

        .forgot-password {
            color: #05a;
            margin-top: -5px;
            font-size: 15px;
        }

        .link_register {
            display: block;
            text-align: center;
            font-size: 15px;
            color: #666;
        
            .btn_register {
                color: #007bff;
                text-decoration: none;
                margin-left: 5px;
            }
        }
    }
}
