.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: #f0f2f5;
    min-height: 100vh;
    padding-top: 20px;

    .content-left {
        margin-top: 50px;

        .brand {
            text-transform: uppercase;
            font-size: 30px;
            color: #1877f2;
        }

        .detail {
            font-size: 20px;
        }
    }

    .content-right {
        padding: 15px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 /10%);
        box-sizing: border-box;

        .brand {
            text-transform: uppercase;
            font-size: 30px;
            color: #1877f2;
            text-align: center;
            font-weight: bold;
        }

        .password-wrapper {
            position: relative;

            .eye-icon {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                font-size: 1.2rem;
                color: #888;
            }

            .eye-icon:hover {
                color: #333;
            }
        }

        .oauth_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .oauth_separator {
                display: flex;
                align-items: center;
                width: 100%;

                .line {
                    background-color: #dbdbdb;
                    flex: 1;
                    height: 1px;
                    width: 100%;
                }

                span {
                    color: #ccc;
                    font-size: .75rem;
                    padding: 0 16px;
                    text-transform: uppercase;
                }
            }

            .oauth_method {
                display: flex;
                align-items: center;
                gap: 10px;

                .fb_method {
                    display: flex;
                    align-items: center;
                    padding: 7px 10px;
                    border-radius: 20px;
                    gap: 10px;
                    color: white;
                    background-color: #3a5a93;
                    cursor: pointer;
                    width: 110px;

                    .icon {
                        width: 18px;
                    }

                    span {
                        flex: 1;
                        font-size: 13px;
                        text-align: center;
                    }
                }

                .gg_method {
                    display: flex;
                    align-items: center;
                    padding: 7px 10px;
                    border-radius: 20px;
                    gap: 10px;
                    color: white;
                    background-color: #e14d33;
                    cursor: pointer;
                    width: 110px;

                    .icon {
                        width: 27px;
                    }

                    span {
                        flex: 1;
                        font-size: 13px;
                        text-align: center;
                    }
                }
            }
        }

        .forgot-password {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
